@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Press Start 2P", sans-serif;
}

body {
	background-color: #201f20;
	margin: 0 1em;
	position: relative;
}

.main-information {
	text-align: center;
}

.main-title {
	font-size: 3em;
	margin: 10% 0;
}

.score-system {
	text-align: right;
	font-size: 22px;
}

.secret-number {
	width: 5rem;
	display: inline-block;
	padding: 10px;
	color: #201f20;
	background-color: white;
	font-size: 2rem;
}

.guess {
	border: solid white;
	color: #201f20;
	height: 3rem;
	width: 8rem;
	padding: 20px;
	font-size: 32px;
	text-align: center;
}

.guess:active {
	border-style: none;
	border: solid white;
}

.button {
	padding: 20px 30px;
	font-size: 22px;
	border: none;
	background-color: white;
	color: #201f20;
}

.button:hover {
	cursor: pointer;
}

.button:active {
	color: white;
	background-color: #191919;
}

.again {
	position: absolute;
	top: -100px;
	left: 15px;
}

.description {
	font-size: 22px;
	position: absolute;
	top: -100px;
	right: 50px;
}
